# Virtual environments
.venv/
venv/
env/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Large files/Datasets
*.csv
*.pdf
*.zip
*.tar.gz

# IDE / OS files
.DS_Store
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
